# Ignorer tous les dossiers __pycache__ et leur contenu
__pycache__/

# Ignorer le dossier Banque_de_solutions et son contenu
Banque_de_solutions/

# Ignorer le dossier APK et son contenu
APK/

dist/
build/

# Ignorer le dossier APK et son contenu
Fil_all.spec