# Ignorer tous les dossiers __pycache__ et leur contenu
__pycache__/

# Ignorer le dossier Banque_de_solutions et son contenu
Banque_de_solutions/
Bibliothèque_de_solution/

# Ignorer le dossier APK et son contenu
APK/

dist/
build/
Archivage/
venv/

Fil_all.spec
.DS_Store